<div class="flex justify-between items-center mb-6">
  <div>
    <h1 class="text-3xl font-bold">Invoices</h1>
    <p class="text-gray-500">There are 4 total invoices</p>
  </div>
  <div class="flex items-center">
    <div class="relative px-4">
      <button (click)="toggleFilterMenu($event)" class="text-gray font-semibold items-center">
        <span class="mr-2">Filter</span>
        <i class="fas transition-transform duration-300" [ngClass]="showFilterMenu ? 'fa-chevron-down rotate-180' : 'fa-chevron-down rotate-0'"></i>
      </button>
      <ul *ngIf="showFilterMenu" class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg overflow-hidden">
        <li class="py-2 px-2 flex items-center">
          <label for="draft" class="flex items-center cursor-pointer w-full">
            <input type="checkbox" id="draft" class="mr-2 cursor-pointer accent-pink-500 w-4 h-4">
            Draft
          </label>
        </li>
        <li class="py-2 px-2 flex items-center">
          <label for="paid" class="flex items-center cursor-pointer w-full">
            <input type="checkbox" id="paid" class="mr-2 cursor-pointer accent-pink-500 w-4 h-4">
            Paid
          </label>
        </li>
        <li class="py-2 px-2 flex items-center">
          <label for="pending" class="flex items-center cursor-pointer w-full">
            <input type="checkbox" id="pending" class="mr-2 cursor-pointer accent-pink-500 w-4 h-4">
            Pending
          </label>
        </li>
      </ul>
    </div>
    <button (click)="openModal()" class="bg-[#373b53] hover:bg-[#4a4e69] text-white font-semibold px-3 py-2 md:px-4 rounded-full flex items-center text-center">
      <i class="fas fa-plus mr-0 md:mr-2"></i>
      <span class="hidden sm:block">New Invoice</span>
    </button>
  </div>
</div>
