<button class="font-semibold flex items-center text-center mb-4" (click)="goToDashboard()">
  <i class="fa-solid fa-chevron-left mr-4"></i>
  <span>Back</span>
</button>
<div class="bg-white shadow-lg rounded-lg p-6 mb-4">
  <div class="flex justify-between items-center">
    <p class="font-medium inline-flex items-center px-2 py-1 rounded text-sm">
      Status:
      <span class="inline-flex items-center ml-2 px-2 py-1 rounded" [ngClass]="{
            'bg-green-100 text-green-700': invoice?.status === 'Paid',
            'bg-yellow-100 text-yellow-700': invoice?.status === 'Pending',
            'bg-gray-100 text-gray-700': invoice?.status === 'Draft'
          }">
        <span class="inline-block w-2 h-2 mr-2 rounded-full" [ngClass]="{
              'bg-green-700': invoice?.status === 'Paid',
              'bg-yellow-500': invoice?.status === 'Pending',
              'bg-gray-500': invoice?.status === 'Draft'
            }"></span>
        {{ invoice.status }}
      </span>
    </p>
    <div class="space-x-4">
      <button class="text-500 hover:text-600" (click)="toggleEditMode()">
        <i class="fas fa-edit"></i>
      </button>
      <button class="text-red-500 hover:text-red-600" (click)="deleteInvoice()">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>
<div class="bg-white shadow-lg rounded-lg p-6">
  <div class="flex items-center space-x-4 md:space-x-9 mb-6">
    <i class="fa-solid fa-user-circle fa-5x"></i>
    <div>
      <h1 class="text-2xl font-bold">
        <span *ngIf="!isEditing">{{ invoice.clientName }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.clientName" class="border rounded" />
      </h1>
      <p class="text-gray-600">
        <span *ngIf="!isEditing">{{ invoice.clientStreetAddress }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.clientStreetAddress" class="border rounded" />
      </p>
      <p class="text-gray-600">
        <span *ngIf="!isEditing">{{ invoice.clientCity }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.clientCity" class="border rounded" />
      </p>
      <p class="text-gray-600">
        <span *ngIf="!isEditing">{{ invoice.clientPostCode }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.clientPostCode" class="border rounded" />
      </p>
      <p class="text-gray-600">
        Email:
        <span *ngIf="!isEditing">{{ invoice.clientEmail }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.clientEmail" class="border rounded" />
      </p>
    </div>
  </div>

  <h1 class="text-center text-2xl font-bold">INVOICE</h1>

  <div class="flex justify-between mb-8">
    <div>
      <h3 class="text-lg font-semibold">Kepada Yth.</h3>
      <p class="text-gray-600">
        <span *ngIf="!isEditing">{{ invoice.name }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.name" class="border rounded" />
      </p>
      <p class="text-gray-600">
        <span *ngIf="!isEditing">{{ invoice.streetAddress }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.streetAddress" class="border rounded" />
      </p>
      <p class="text-gray-600">
        <span *ngIf="!isEditing">{{ invoice.city }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.city" class="border rounded" />
      </p>
      <p class="text-gray-600">
        <span *ngIf="!isEditing">{{ invoice.postCode }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.postCode" class="border rounded" />
      </p>
    </div>
    <div>
      <p class="text-gray-600">
        Date:
        <span *ngIf="!isEditing">{{ invoice.date | date:'dd/MM/yyyy' }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.date" class="border rounded" type="date" />
      </p>
      <p class="text-gray-600">
        Invoice No:
        <span *ngIf="!isEditing">{{ invoice.invoiceNumber }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.invoiceNumber" class="border rounded" />
      </p>
      <p class="text-gray-600">
        PO No:
        <span *ngIf="!isEditing">{{ invoice.description }}</span>
        <input *ngIf="isEditing" [(ngModel)]="invoice.description" class="border rounded" />
      </p>
    </div>
  </div>

  <div class="mb-8">
    <h3 class="text-lg font-semibold mb-4">Items:</h3>
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
          <th class="py-2 border border-gray-300 text-center">No</th>
          <th class="py-2 border border-gray-300 text-center">Qty</th>
          <th class="py-2 border border-gray-300 text-center">Item</th>
          <th class="py-2 border border-gray-300 text-center">Price</th>
          <th class="py-2 border border-gray-300 text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoice.items; let i = index">
          <td class="py-2 border border-gray-300 text-center">{{ i + 1 }}</td>
          <td class="py-2 border border-gray-300 text-center">
            <span *ngIf="!isEditing">{{ item.itemQuantity }}</span>
            <input *ngIf="isEditing" [(ngModel)]="item.itemQuantity" class="border rounded" />
          </td>
          <td class="py-2 border border-gray-300 text-center">
            <span *ngIf="!isEditing">{{ item.itemName }}</span>
            <input *ngIf="isEditing" [(ngModel)]="item.itemName" class="border rounded" />
          </td>
          <td class="py-2 border border-gray-300 text-center">
            <span *ngIf="!isEditing">{{ item.itemPrice | currency:'Rp ' }}</span>
            <input *ngIf="isEditing" [(ngModel)]="item.itemPrice" class="border rounded" />
          </td>
          <td class="py-2 border border-gray-300 text-center">
            <span *ngIf="!isEditing">{{ item.itemTotal | currency:'Rp ' }}</span>
            <input *ngIf="isEditing" [(ngModel)]="item.itemTotal" class="border rounded" />
          </td>
        </tr>
      </tbody>
    </table>
    <p>Syarat Pembayaran: 30 Hari</p>
    <div class="flex justify-end">
      <div class="text-right">
        <h3 class="text-lg font-semibold">Total Amount:</h3>
        <p class="text-2xl font-bold">{{ invoice.totalAmount | currency:'Rp ' }}</p>
      </div>
    </div>
  </div>

  <div class="flex justify-between mb-10">
    <p class="text-center font-semibold">Tanda Terima</p>
    <p class="text-center px-8 max-w-lg">
      Barang yang dibeli tidak dapat ditukar/kembali. Pembayaran dianggap lunas setelah masuk rekening kami.
    </p>
    <p class="text-center font-semibold">Hormat Kami</p>
  </div>

  <div *ngIf="isEditing" class="flex justify-end">
    <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="saveInvoice()">Save</button>
    <button class="bg-gray-500 text-white px-4 py-2 rounded ml-2" (click)="toggleEditMode()">Cancel</button>
  </div>
</div>
